streamlit
pandas
plotly
plotly-express
requests
beautifulsoup4
fpdf2
groq
python-dotenv
lxml
gender-guesser
langchain
langchain-groq
langchain-experimental
tabulate
langchain
langchain-groq
langchain-openai
langchain-experimental
tabulate